---
import Layout from "../layouts/Layout.astro";

let color = "Safe";
---

<Layout title="Principal">
  <main>
    <h1 class={color}>
      {
        color === "Safe"
          ? "Seguro"
          : color == "Warning"
            ? "Inseguro"
            : color === "Not-Recommended"
              ? "No recomendado"
              : "No esta asignado nada"
      }
    </h1>
    <button
      onclick="color === 'Safe' ? color = 'Warning' : color = 'Warning' ? color = 'Not-Recommended' : color = 'Not-Recommended' ? color = 'Safe' : '' "
      class="BotonCm"
      style="background: #212121; color: #ccc; padding: 15px; margin: 10px; border-radius: 90px; cursor: pointer"
      >Is really?</button
    >
  </main>
</Layout>

<style>
  .Safe {
    color: green;
  }
  .Warning {
    color: red;
  }
  .Not-Recommended {
    color: darkmagenta;
  }
</style>
