---
---

<header class="head">
    <section class="Nav-section">
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/Contact">Contact</a></li>
    </section>
</header>

<style>
    header {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 100px;
        background-color: #09f;
    }
    .Nav-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .Nav-section > li > a {
        color: #121212;
    }
</style>